<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Thymeleaf 3 + Spring 4 example</title>
        <meta charset="utf-8" />

        <!-- CSRF protection -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="#{application.title}"></title>

    <!-- WEBJAR BOOTSTRAP -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
    <!-- WEBJAR JQUERY -->
    <script src="/webjars/jquery/3.1.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

	</head>
	<body>
        <h1>Thymeleaf 3 + Spring 4 example</h1>
        <p>
            Hello!
	</body>
</html>
</html>
